/** @format */

#value {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
}

#target {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	background-color: blue;
	top: 0;
	left: 500px;
}
